/* Reset Styles */

@import url(reset.css);


/**************
Header
************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

  

#logo {
  text-align: center;
  margin: 0;
 }

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: Normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0  0;
  font-weight: Normal;
  
}
  
/***************
Navigation 
****************/
  
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
  }

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  display: 
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}
  
  footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
/***************
Colors
****************/


/* Site Body */
body {
  background-color: #fff;
  color: #999;
}


/* Red Header */
header {
  background-color: #DC143C;
  border-color: #141414;
}

/* NaV background on mobile */
nav { 
  background: #141414;
}

/* Logo text */
h1, h2 {
  color: #fff;
}

/* Link */
a {
  color: #6ab47b;
}

/* Nav Link */
nav a, nav a:visited  {
  color: #fff;
}

/* Selected nav link color */
nav a.selected, nav a:hover {
  color: #808080;
}

.splash {
	background: url('../img/splash-bg.jpg') center center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 360px;
	z-index: 999;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}

.splash-title {
	color: white;
	font-size: 3em;
	margin-top: 100px;
	text-shadow: 0 2px 10px #000;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

a.splash-arrow {
	color: white;
	font-size: 1.2em;
	position: absolute;
	bottom: 55px;
	left: 50%;
	margin-left: -25px;
	padding: 10px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay: 1.5s;
	border: 3px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

a.splash-arrow:hover {
	text-decoration: none;
	bottom: 50px;
}

@media all and (max-width: 690px) {
  header h1 { width: 100%; text-align: center; }
  header nav { float: none; display: inline-block; margin: 0 auto; }
  .splash-title {font-size: 2em;}
}

@media all and (max-width: 480px) {
	.splash-title {font-size: 1.5em;}
}